<div>
    <div class="mapa1"> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15138.671284297829!2d-69.94329735000001!3d18.4533854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sdo!4v1616079683086!5m2!1ses!2sdo" class="mapa" allowfullscreen="" loading="lazy">
    </iframe></div>
        <div class="info">
            <p>Correo: camelliaflowera@gmail.com</p>
            <p>Telefono: 809-508-0000</p>
        </div>

    <div>
        <div class="gif">
            <img src="./multimedia/iuanuncio.gif" alt="">
        </div>
    </div>
</div>