

<div id="contenedor">
    
    <div>
        <audio src="./multimedia/audio/move - taemin.mpeg" autoplay = "true" controls></audio>
    </div>

    <div id="logo">
        <img src="./multimedia/camellialoguito.png" alt="">
    </div>
</div>

<div id="seccion2">
    <a name ="seccioncita2"></a>
    <div id="parte2">
        <div id="servicios">
            <p>SERVICIOS</p>
        </div>
    </div>

        <div id="contenedor2">
            <div class="arreglos">
                <img src="./multimedia/flor1.jpg">
                <p>SAN VALENTIN</p>
            </div>
            

            <div class="arreglos">
                <img src="./multimedia/flor2.jpg">
                <p>BODAS</p>
            </div>

            <div class="arreglos">
                <img src="./multimedia/flor3.jpg">
                <p>CUMPLEAÑOS</p>
            </div>
        </div>

</div>

<div id="seccion3">
    <a name ="seccioncita3"></a>
    <div id="parte3">
        <div id="aboutus">
            <p>ABOUT US</p>
        </div>
    </div>

        <div id="contenedor3">
            <div class="contenido">
                <p class="titulos">MISIÓN</p>
                <p class="texto">"Ofrecer un excelente servicio al cliente, brindando la mejor atención, calidad y 
                    puntualidad, de forma tal que cumplamos con éxito y satisfacción sus compromisos".
                    </p>
            </div>
            

            <div class="contenido">
                <p class="titulos">VISIÓN</p>
                <p class="texto">"Ser una empresa líder en el sector de floristerías a nivel nacional e internacional, 
                    brindando a nuestros clientes productos y servicios de la mejor calidad, velando siempre por el 
                    bienestar de nuestros colaboradores, clientes y proveedores".
                    </p>
            </div>

            <div class="contenido">
                <p class="titulos">VALORES</p>
                <p class="texto">Responsabilidad, Creatividad, Compromiso, Honestidad, Puntualidad, Calidad humana.
                </p>
            </div>
        </div>

</div>

<div id="seccion4">
    <a name ="seccioncita4"></a>
    <div id="parte4">
        <div id="galeria">
            <p>GALERIA</p>
        </div>
    </div>

    <div class="contenedorxd">
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="./multimedia/galeria1.jpg" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="./multimedia/galeria2.jpg" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="../multimedia/galeria3.jpg" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="../multimedia/galeria4.jpg" class="slider__img">
            </div>
        </div>
        <div class="slider_btn slider_btn--right" id="btn-right"></div>
        <div class="slider_btn slider_btn--left" id="btn-left"></div>
    </div>

    </div>
</div>

<script src="./script/script.js"></script>
<script src="./script/scroll.js"></script>


