

<div id="fondo">

    <section class="formulario">
        <form method="POST" action="/add"><h4>Bienvenido a nuestra comunidad</h4>
        <input class="control" type="text" name="nombres" id="Nombre" placeholder="Ingrese su nombre">

        <input class="control" type="text" name="apellidos" id="Apellido" placeholder="Ingrese su apellido">

        <input class="control" type="email" name="correo" id="Correo" placeholder="Ingrese su correo">

        <input class="control" type="password" name="contraseña" id="contraseña1" placeholder="Contraseña">

        <input class="control" type="password" name="contraseña" id="contraseña2" placeholder="Confirmar contraseña">

    <label for = "file"><br>Buscar articulo</label>
        <input type = "file" name = "file" id ="file">

    <p>Estoy de acuerdo con la <a href=".">política de privacidad</a></p>

    <button type="submit">Registrarse</button>
    <p><a href=".">Todavia no tengo cuenta</a></p></form>
    </section>
    <br>
    <br>
    <div class="video">
        <div class="videodelochino">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YLXfyHsfFz0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
</div>