<div id="footer">
    <div class="f1">
        <p class="texto">
            CAMELLIA FLOWERS ©
            <br>2021
        </p>
    </div>
        
    <div class="f2">
        <p class="texto">
            DESING BY VANESSA
            <br>ALL RIGHTS RESERVED
        </p>
    </div>

</div>