<input type="checkbox" id="btn-menu">
    <label for="btn-menu"> <img src="./multimedia/flower.png" id= "imagen"alt=""> </label>
    

<nav class="menu">
    <ul>
        <li class="dropdown">
                <a href="/" class="drop-b">INICIO</a>
                <div class="dropdown-content">
                    <a href="/#seccioncita2">SERVICIOS</a>
                    <a href="/#seccioncita3">ABOUT US</a>
                    <a href="/#seccioncita4">GALERIA</a>

                    <li><a href="/contactos">CONTACTOS</a></li>
                    <li class="dropdown">

                <a href="/login" class="drop-b">LOGIN</a>
        </li>
    </ul>

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>
</nav>



  <!--Back Top-->
<button onclick="topFunction()" id="myBtn" title="Ir arriba"> ⇑<img src="/Imagenes/Icons/bton.png" alt=""></button>
<!--Back Top-->
