<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {ruta: "./css/stylecontactos.css"}) %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <%- include('../partials/bodyContactos') %> 
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>